*{
    margin: 0;
    padding: 0;
}
/* shared style  */
.inter-font{
  font-family: "Inter", sans-serif;
}
.flex{
  display: flex;
}
.btn-primary{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  padding: 13px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
/* nav start  */
.dark-blue{
  background-color: #1A0B2E;
}
.navbar{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid; */
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav-logo{
  max-width: 220px;
}
.nav-logo img{
  width: 100%;
}
.navbar .nav-menu{
  display: flex;
  gap: 32px;
  align-items: center;
}
.navbar .nav-menu .menu-item{
  list-style: none;
}
.navbar .nav-menu .menu-item a{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
}
.banner{
  background-image: url(../assets/hero-bg.png);
  padding: 100px;
}
.banner-image, .banner-img{
  display: flex;
  justify-content: center;
}
.banner-img{
  margin-top: -250px;
}
.banner-content{
  max-width: 550;
  margin: 0 auto;
  padding-top: 121px;
  text-align: center;
}
.banner-heading{
  font-size: 3.75rem;
  font-weight: 800;
  color: #FFFFFF;
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 8px 0 24px;
}
.banner-btn{
  justify-content: center;
  gap: 8px;
}
.btn{
  border: 1px solid #00FF88;
  background: #1A0B2E;
  color: #00FF88;
}
.about{
  max-width: 1200px;
  padding: 80px;
  text-align: center;
  margin: 0 auto;
}
.about-title, .choose-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
.about-description, .card-description{
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 auto;
}
hr{
  margin: 80px 0 80px;
}
.about-box{
  justify-content: space-between;
  gap: 80px
}
.about-card{
  text-align: center;
}
.card-number{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
}
.card-description{
  padding: 16px;
}

